html {
    background-color: black;
    color: white;
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0;
}

.logo-header {
    width: 300px;
    padding: 10px;
}

.heading {
    display: flex;
    flex-direction: row;
}

.heading-button-strip {
    align-items: center;
    gap: 10px;
    transform: skew(-8deg);
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color: white;
}

.heading-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    transform: skew(8deg);
    color: white;
}

.heading-button {
    position: relative;
    overflow: hidden;
    transform: skew(-8deg);
    color: black;
    background-color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

.heading-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%; /* Start slightly outside the button to account for skew */
    width: 0%;
    height: 100%;
    background-color: black;
    transition: width 0.3s ease-in-out;
    z-index: -1;
    transform: skew(8deg); /* Counteract the parent's skew */
    transform-origin: left; /* Ensure the transform aligns properly */
}

.heading-button:hover::before {
    width: 120%; /* Extend beyond the button to cover the skewed area */
}

.heading-button:hover .heading-button-text {
    color: white;
}

.heading-button-text {
    display: inline-block;
    transform: skew(8deg); /* Counteract the skew for the text inside the button */
    transition: color 0.3s ease-in-out;
}

.tagline {
    padding-left: 22.5px;
    margin: 0;
}

.strip {
    display: flex;
    flex-direction: row;
}

.explainers {
    color: white;
    margin-left: 22.5px;
    margin-right: 10px;
    align-items: center;
}


.outer {
    margin: 50px;
  }
  
  .button {
    border: 1px solid black;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    display: block;
  
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .button:hover {
    background-position: left bottom;
  }
  
  .text {
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    color: black;
    transition: all .6s ease-out;
    display: block;
  }
  
  .text:hover {
    color: white;  
  }



  .button {
    border: 1px solid black;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    display: block;
  
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .button:hover {
    background-position: left bottom;
  }
  
  .text {
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    color: black;
    transition: all .6s ease-out;
    display: block;
  }
  
  .text:hover {
    color: white;  
  }